@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
h1 {
  font-size: 36px; /* 36px */
}

h2 {
  font-size: 30px; /* 30px */
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
/* General navbar styling */
.navbar {
  padding: 1rem;
}

/* ShopDropdown two-column layout */
.dropdown-menu-wrapper {
  display: flex;
  padding: 1rem;
}

.dropdown-column {
  flex: 1;
  padding: 0 10px;
}

.dropdown-column h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar .dropdown-item {
  padding: 5px 10px;
}

/* Right aligned nav styling */
.right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-nav .nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.right-nav .nav-link svg {
  font-size: 1.2rem;
}

.custom-nav-dropdown {
  font-weight: 700;
  color: #737373;
}
